include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include bdtheme01 *.css
recursive-include bdtheme01 *.csv
recursive-include bdtheme01 *.html
recursive-include bdtheme01 *.ico
recursive-include bdtheme01 *.js
recursive-include bdtheme01 *.json
recursive-include bdtheme01 *.md
recursive-include bdtheme01 *.png
recursive-include bdtheme01 *.py
recursive-include bdtheme01 *.svg
recursive-include bdtheme01 *.txt
recursive-exclude bdtheme01 *.pyc